@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

body {
    background-color: white;
}

.board-container{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 6px;
    width: 550px;
    height: 466px;
    background: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: .5rem;
}

.board-container td{
    cursor: pointer;
    width: 80px;
    height: 71px;
    border: 2px solid black;
    border-radius: 50%;
    background: white;
}

h1 {
    font-size: 37px;
    margin-top: 32px;
    margin-bottom: 10px;
    letter-spacing: 8px;
}

#game-title {
    display: inline-block;
    border: solid black;
    border-radius: 8px;
    padding: 10px 19px 10px 19px;
}

h2 {
    font-family: 'DM Mono', monospace;
    /* font-family: 'Urbanist', sans-serif; */
    /* font-family: 'Zen Maru Gothic', sans-serif; */
    font-size: 25px;
    margin-top: 26px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 30px;
    height: auto;
}

button.reset {
    position: absolute;
    top: 670px;
    left: 50%;
    transform: translate(-50%);
    width: 160px;
    height: 50px;
    margin-top: 25px;
    padding:0.35em 1.2em;
    border: 2px solid black;
    margin:0 0.3em 0.3em 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight: 410;
    font-size: 20px;
    color:black;
    background-color: white;
    text-align:center;
    cursor: pointer;
    transition: all 0.1s;
    }

button.reset:hover {
    color: white;
    background-color: black;
}